.form{
    position: relative;
    &-content{
       max-width: 1000px;
    }
    &-title{
        font-size: $titulo;
        font-weight: $bold;
        text-align: center;
        padding: 30px
    }
    &-submit{
        &:hover{
            cursor: pointer;
        }
        color: $white;
        font-weight: $bold;
    }
    &-input{
        padding-bottom: 30px;
        &-element{
            box-shadow: $sombra;
            height: 45px;
            width: 300px;
            text-indent: 20px;
            font-size: 15pt;
            border-radius: 0;
            border: 0;
            margin: 5px;         
        }
    } 
}