.header {
    background-color: $bluishWhite;
    nav {
        padding: 0.4rem 1.5rem;
    }
    &_logo {
        display: flex;
        align-items: center;

        h1 {
            margin-left: 0.5em;
            margin-top: 0em;
            margin-bottom: 0em;
            font-weight: bolder;
        }   
    }

    &_links {
        a {
            position: relative;
            transition: color 150ms ease-in-out;
            font-size: 15pt;
            font-weight: 700;
            &:not(:last-child){
                margin-right: 32px;
            }
            &::before{
                position: absolute;
                content: "";
                display: block;
                height: 3px;
                left: 0;
                right: 0;
                bottom: -20px;
                background: $red;
                opacity: 0;
                transition: opacity 150ms ease-in-out;
            }
            &:hover {
                color: $red;
                text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
                &::before{
                    opacity: 1;
                }
            }
        }
    }

    &_input {
        position:relative;
        margin:0 20px;
        background:$white;
        direction: ltr;
        width: 200px;
        input {
            height:27px;
            margin:0;
            padding-right: 30px;
            width: 100%;
        }
        img {
            position:absolute;
            top: 2px;
            bottom:2px;
            right:2px;
            width:24px;
            height:24px;
        }
    }
}