.main{
    align-items: center;
    &_container{
        position: absolute;
        width: 100%;
        height: 900px;
        background-image: url(/assets/ufo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &_text{
        position: relative;
        height: 100px;
        color: $gray;
        text-align: center;
        padding-top: 30.00rem;
        margin: -10px;
        h1{
            font-size: 100px;
            margin: -10px;
        }
        h2{
            font-size: 80px;
            margin: -10px;
        }
        h3{
            margin: 10px;
        }
        #vremei{
            color: $red;
        }
    }
}