.promo{
    &-img{
        background-image: url(assets/ufo2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 800px;
        height: 750px;
        text-align: center;
        text-shadow: $sombra;
        padding-top: 400px;
        h1{
            font-size: 100px;
            margin-top: -10px;
            margin-bottom: -10px;
        }
        h2{
            font-size: 80px;
            margin-top: -10px;
            margin-bottom: -10px;
        }
        h3{
            padding-top: 5px;
            margin: 0;
        }
        #vremei{
            color: $red;
        }
    }
}