.titulo{
    padding: 30px;
    color: $white;
    font-size: $tituloGde;
    font-weight: $bold;
    text-align: center;
}
.produtos{
    &-container{
        padding-bottom: 50px;
    }
}
.produto{
    &-item{
        box-shadow: $sombra;
        margin: 20px;
        background-color: $dirtyWhite;
        float: center;
        width: 400px;
        height: auto;
        padding-bottom: 10px;
        &-img{
            height: auto;
            overflow: hidden;
        }
        &-titulo{
            padding-top: 10px;
            padding-left: 10px;
            font-weight:$bold;
        }
        &-desc{
            height: 80px;
            font-size: $pequena;
            padding: 10px;
        }
        &-preco{
            padding-top: 10px;
            font-size: $preco;
            font-weight: $bold;
            color: $red;
            span{
                padding-left: 10px;
                padding-right: 10px;
                color: black;
                text-decoration: line-through;
            }
        }
        &-botao{
            padding: 5px;
            text-align: center;
            background-color:$red;
            margin: 10px;
            a{
                color: white;
                font-weight: $bold;
            }
        }
    }
}