// Cores

$gray: hsl(240, 3%, 13%);
$red: hsl(343, 100%, 46%);
$white: hsl(0, 0%, 100%);
$dirtyWhite: hsl(216, 26%, 96%);
$bluishWhite: hsl(240, 6%, 83%);

// Fontes

$pequena: 1.000rem;
$media: 1.125rem;