html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #202022;
  font-weight: 500;
}

.bg-red {
  background-color: #eb0042;
}

.bg-white {
  background-color: #f2f4f7;
}

.bg-gray {
  background-color: #202022;
}

.bg-black {
  background-color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  background-color: #f2f4f7;
  width: 100%;
}

.header nav {
  padding: 0.4rem 1.5rem;
}

.header-logo h1 {
  margin-left: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: 1000;
  color: black;
}

.header-links a {
  position: relative;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  font-size: 15pt;
  font-weight: 700;
  color: black;
}

.header-links a:not(:last-child) {
  margin-right: 32px;
}

.header-links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: #eb0042;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.header-links a:hover {
  color: #eb0042;
  text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
}

.header-links a:hover::before {
  opacity: 1;
}

.header-input {
  margin: 0px;
  background: white;
  width: 300px;
  height: 30px;
}

.header-input input {
  margin: 0;
  width: 100%;
}

.header-input img {
  position: relative;
  size: 50%;
}

.promo-img {
  background-image: url(assets/ufo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 800px;
  height: 750px;
  text-align: center;
  text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  padding-top: 400px;
}

.promo-img h1 {
  font-size: 100px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.promo-img h2 {
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.promo-img h3 {
  padding-top: 5px;
  margin: 0;
}

.promo-img #vremei {
  color: #eb0042;
}

.titulo {
  padding: 30px;
  color: white;
  font-size: 35pt;
  font-weight: 700;
  text-align: center;
}

.produtos-container {
  padding-bottom: 50px;
}

.produto-item {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  margin: 20px;
  background-color: #f2f4f7;
  float: center;
  width: 400px;
  height: auto;
  padding-bottom: 10px;
}

.produto-item-img {
  height: auto;
  overflow: hidden;
}

.produto-item-titulo {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 700;
}

.produto-item-desc {
  height: 80px;
  font-size: 14px;
  padding: 10px;
}

.produto-item-preco {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #eb0042;
}

.produto-item-preco span {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: line-through;
}

.produto-item-botao {
  padding: 5px;
  text-align: center;
  background-color: #eb0042;
  margin: 10px;
}

.produto-item-botao a {
  color: white;
  font-weight: 700;
}

.timerbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timerbar-txt {
  padding: 20px;
  color: black;
  font-size: 25pt;
  font-weight: 1000;
  text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
}

.timerbar-linha {
  padding: 15px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  background-color: black;
}

.timerbar-linha-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  padding-left: 15px;
}

.timerbar h3 {
  margin: 0;
  text-align: center;
  color: white;
}

.timerbar h3:not(:last-child) {
  padding-right: 10px;
}

.footer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.footer-items {
  padding: 50px;
}

.footer .content {
  max-width: 350px;
}

.footer .content a {
  margin: 10px;
}

.footer .content p {
  margin: 0;
  text-align: center;
}

.footer .title {
  padding-bottom: 10px;
}

.footer h4 {
  text-align: center;
  font-weight: 400;
  padding: 10px;
  margin: 0;
}

.footer h5 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.form {
  position: relative;
}

.form-content {
  max-width: 1000px;
}

.form-title {
  font-size: 25pt;
  font-weight: 700;
  text-align: center;
  padding: 30px;
}

.form-submit {
  color: white;
  font-weight: 700;
}

.form-submit:hover {
  cursor: pointer;
}

.form-input {
  padding-bottom: 30px;
}

.form-input-element {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  height: 45px;
  width: 300px;
  text-indent: 20px;
  font-size: 15pt;
  border-radius: 0;
  border: 0;
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */