html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #202022;
  font-weight: 500;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-sa {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  background-color: #d1d1d6;
}

.header nav {
  padding: 0.4rem 1.5rem;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo h1 {
  margin-left: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: bolder;
}

.header_links a {
  position: relative;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  font-size: 15pt;
  font-weight: 700;
}

.header_links a:not(:last-child) {
  margin-right: 32px;
}

.header_links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: #eb0042;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.header_links a:hover {
  color: #eb0042;
  text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
}

.header_links a:hover::before {
  opacity: 1;
}

.header_input {
  position: relative;
  margin: 0 20px;
  background: white;
  direction: ltr;
  width: 200px;
}

.header_input input {
  height: 27px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}

.header_input img {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
}

.promo {
  background-color: #202022;
}

.promo_img {
  background-image: url(/assets/ufo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 750px;
  width: 800px;
  text-align: center;
  text-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  padding-top: 400px;
}

.promo_img h1 {
  font-size: 100px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.promo_img h2 {
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.promo_img h3 {
  margin-top: 5px;
}

.promo_img #vremei {
  color: #eb0042;
}

.conteudo {
  background-color: #202022;
}

.titulo {
  padding: 30px;
  color: white;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
}

.produtos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.produtos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.produto-item {
  margin: 20px;
  background-color: #f2f4f7;
  float: left;
  width: 400px;
  height: auto;
  padding-bottom: 10px;
}

.produto-item-img {
  width: 400px;
  height: auto;
  overflow: hidden;
}

.produto-item-titulo {
  width: 345px;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 700;
}

.produto-item-desc {
  width: 390px;
  height: 80px;
  font-size: 14px;
  padding: 10px;
}

.produto-item-preco {
  width: 230px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #eb0042;
}

.produto-item-preco span {
  padding-left: 10px;
  padding-right: 10px;
  color: #202022;
  text-decoration: line-through;
}

.produto-item-botao {
  padding: 5px;
  text-align: center;
  background-color: #eb0042;
  margin: 10px;
}

.produto-item-botao a {
  color: white;
  font-weight: bold;
}

.timer {
  background-color: #eb0042;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timer__txt {
  margin: 20px;
  margin-left: 50px;
  color: black;
  font-size: 25pt;
  font-weight: 1000;
}

.timer__row {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.28), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.201279), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.16691), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.14), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.11309), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0787208);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  background-color: #202022;
  padding: 15px;
}

.timer__row-item h3 {
  margin: 0;
  text-align: center;
  color: white;
}

.timer__row-item h3:not(:last-child) {
  margin-right: 10px;
}

.timer__row-item-txt {
  font-weight: 400;
}

.footer {
  background-color: #eb0042;
}

.form {
  background-color: #eb0042;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.form-title {
  font-size: 30pt;
  font-weight: 700;
  padding: 30px;
}

.form-submit {
  background-color: #202022;
  color: white;
  font-weight: 600;
}

.form-submit:hover {
  cursor: pointer;
}

.form-input {
  padding-bottom: 30px;
}

.form-input-element {
  height: 45px;
  width: 300px;
  text-indent: 20px;
  font-size: 15pt;
  border-radius: 0;
  border: 0;
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */